/* this is a comment */

body,html{
    padding:0;
    margin: 0;
    display: grid;
    background-color: rgb(200,240,200);
}
.menu{
    width: 100%;
    height: 80px;
    background-color: mediumseagreen;
    position: fixed;
    z-index: 100;
}
.main{
    /*
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: .75fr 1.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-template-areas: ". left right .";
    */
}
.artist_images{
    height: 900px;
    width: 90%;
    position: relative;
    margin: 10px auto 0px auto;
    background-color: brown;
}
.descriptions{
    height: 300px;
    width: 450px;
    position: absolute;
    bottom:100px;
    left:0;
    background-color: lightgray;
}
.albums{
    height: 500px;
    width: 95%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    margin: 0px auto 0px auto;
    background-color: gray;
}
.left{
    height: 400px;
    width: 475px;
    margin: auto 20px auto auto;
    background-color: brown;
}
.right{
    height: 400px;
    width: 475px;
    margin: auto auto auto 20px;
    background-color: brown;
}
.recent_videos{
    height: 700px;
    width: 95%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0em;
    grid-row-gap: 1em;
    margin: 0px auto 0px auto;
    background-color: gray;
}
.left_vid{
    height: 500px;
    width: 500px;
    margin: auto auto auto auto;
    background-color: brown;
}
.right_vid{
    height: 500px;
    width: 500px;
    margin: auto auto auto auto;
    background-color: brown;
}
.footer{
    height: 200px;
    width: 100%;
    background-color: mediumseagreen;
}