body, html{
    padding:0;
    margin: 0;
    display: grid;
    background-color: white;
}
.menu{
    height: 40px;
    width: 98%;
    margin: 0px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    background-color: black;
}
.link{
    height: 40px;
    background-color:red;
}
.main{
    width: 98%;
    margin: 0px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    background-color:black;
}
.left{
    background-color: blue;
}
.article_left{
    height: 600px;
    position: relative;
}
.image_left{
    background-color: lightblue;
    position: absolute;
    margin: 100px auto auto 100px;
    height: 500px;
    width: 600px;
    z-index: 98;
}
.right{
    background-color: green;
}
.article_right{
    height: 800px;
    position: relative;
}
.image_right{
    background-color: lightgreen;
    position: absolute;
    margin: 90px auto auto 100px;
    height: 600px;
    width: 650px;
}