body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    background-color: #CC1D1D;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.title{
    color: white;
    font-size: 65px;
    margin: 5px 0px auto 224px;
    position: absolute;
}
.main{
    min-height: calc(100vh - 200px);
    margin-top: 140px;
    margin-left: 270px;
    margin-bottom: 100px;
}
.footer{
    background-color: #cc1d1d;
    height: 100px;
    width: 100%;
    position: absolute;
}
.contact{
    color: white;
    font-size: 20px;
    margin: 10px 0px auto 20px;
}
.email{
    color: white;
    font-size: 20px;
    margin: 2px 0px 0px 20px;
}
.phone{
    color: white;
    font-size: 20px;
    margin: 2px 0px 0px 20px;
}
.photos_1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vw 25vw; 
    grid-column-gap: 0px;
    grid-row-gap: 0em;
    height: 400px;
    width: 80%;
}
.photos_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vw 25vw; 
    grid-column-gap: 0px;
    grid-row-gap: 0em;
    height: 400px;
    width: 80%;
}
.photos_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vw 25vw; 
    grid-column-gap: 0px;
    grid-row-gap: 0em;
    height: 400px;
    width: 80%;
}
.photo{
    background-color: white;
    border: 1px solid black;
}